{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block pageContent %}
{% include "includes/TopNavigation.html" %}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                <form method="post" action="{% url 'update_collecteur' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="form-title"><span>تبديل الزبون</span></h4>
                    <div class="form-group">
                        <input type="text" class="form-control" name="collecteur_id" value="{{collecteur.id}}" hidden
                            required>
                    </div>
                    <div class="form-group">
                        <label>الإسم واللقب</label>
                        <input type="text" class="form-control" name="name" value="{{collecteur.name}}">
                    </div>
                    <div class="form-group">
                        <label>رقم الهاتف</label>
                        <input type="text" class="form-control" name="phone" value="{{collecteur.phone}}">
                    </div>
                    <div class="form-group">
                        <label>العنوان</label>
                        <textarea class="form-control" name="address">{{collecteur.address}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">تحديث الزبون</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock pageContent %}