{% extends 'base.html' %}{% load static %}{% block pageContent %}
<style>
    body {
        background-image:url('{% static "assets/default/img/back_plastic.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    
    #logo-img {
        height: 7em;
        width: 7em;
        object-fit: cover;
        object-position: center center;
    }
    
    #page-title {
        font-size: 3em;
        color: #f7f7f7;
        font-family: cursive;
        text-shadow: 2px 2px 12px #2c2b29;
    }
</style>
<div class="d-flex flex-column w-100 justify-content-center align-items-center">
    <div class="text-center">
        <img src="{% static 'assets/default/img/plastic_icon.png' %}" alt="Logo" class="bg-gradient bg-dark bg-opacity-75 rounded-circle padding-0 border" id="logo-img">
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 py-5 mb-3">
        <h2 class="text-center fw-bolder" id="page-title">{{system_name}}</h2>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pt-3">
        <div class="card card-default rounded-0 shadow">
            <div class="card-header">
                <h4 class="card-title"><b>تسجيل الدخول</b></h4>
            </div>
            {% include 'includes/messages.html' %}
            <div class="card-body">
                <div class="container-fluid">
                    <form id="login-user" action="{% url 'dologin' %}" method="POST">
                        {% csrf_token %}
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="form-group mb-3">
                                    <label for="email" class="control-label">البريد الإلكتروني</label>
                                    <input type="text" class="form-control rounded-0" autofocus name="email" id="email" required="required">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password" class="control-label">كلمة السر</label>
                                    <input type="password" class="form-control rounded-0" autofocus name="password" id="password" required="required">
                                </div>
                                <div class="form-group mb-3">
                                    <div class="d-flex w-100 justify-content-center align-items-center">
                                        <button class="btn btn-sm rounded-0 btn-primary">
                                            تسجيل الدخول
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock pageContent %} {% block ScriptBlock %}
<script>
    
</script>
{% endblock ScriptBlock %}