{% extends "base.html" %} {% load humanize %} {% load static %} {% load customfilter %} {% block pageContent %}
{% include "includes/TopNavigation.html" %}
<!--Section: Content-->
<section class="">
    <h2 class="fw-bolder">!مرحبا, {{user.username}}</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-info bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-soap"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{clients}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>الحرفاء</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-primary bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-soap"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{products|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>السّلعة</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-success bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-file-invoice"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{todays_invoice|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>الشراءات اليومية</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-secondary bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-coins"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{tot_expense|floatformat|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>التمويل اليومي</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-warning bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-coins"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{tot_purchase|floatformat|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>المبلغ المدفوع</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-warning bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-coins"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{tot_cost|floatformat|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>المصاريف</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.username == 'باسم المكوّر' %}
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-secondary bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-coins"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{tot_sale|floatformat|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>المبلغ المستلم</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-1 pb-2">
            <div class="card card-default rounded-0 shadow bg-gradient bg-danger bg-opacity-75 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-coins"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{rest|floatformat|intcomma}}</h2>
                            </div>
                            <div class="col-12 text-end"><b>الباقي</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title">كل السّلع</h5>
                    </div>
                    
                </div>
            </div>
            <div class="card-body">
                <div class="bg-white">
                    <canvas id="myChart1" width="400" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [
                                    {% for i in products_type %} "{{i.product_type}}", {% endfor %}],
                        datasets: [{
                            label: 'السّلع',
                            data: [
                                {{carduna}}, {{dabouza}}, {{bidoun}}, {{maoun}}, {{kopogajo}}, {{kopo}}, {{gajo}}, 
                                {{zitmahroug}}, {{bidounzit}}, {{alumunium}}, {{rigide}}, {{filmw}}, {{filmb}}, 
                                {{bouchons}}, {{bargataire}}, {{sauple}}, {{melenge}}],
                            backgroundColor: [
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(25, 159, 64, 1)',
                                'rgba(211, 99, 12, 1)',
                                'rgba(234, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(34, 142, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderColor: [
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(25, 159, 64, 1)',
                                    'rgba(211, 99, 12, 1)',
                                    'rgba(234, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(34, 142, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                          }]
                      },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                  });
                    </script>
                </div>
                
            </div>
        </div>
        
    </div>

</div>


</div> {% endblock pageContent %} {% block ScriptBlock %}
<script>
    
</script>
{% endblock ScriptBlock %}