{% extends 'base.html' %}{% load static %}{% load humanize %}{% block pageContent %}
<style>
    #laundry-img {
        max-width: 100%;
        max-height: 10em;
        object-fit: scale-down;
        object-position: center center;
    }
</style>
<section class="py-4">
    <div class="container">
        <form action="" id="purchase-form">
            <input type="hidden" name="id" value="{{purchase.id}}">
            <input type="hidden" name="code" value="{% if purchase.code  %}{{purchase.code}}{% else %}generate{% endif %}">
            <input type="hidden" name="regulation" value="{% if purchase.regulation  %}{{purchase.regulation}}{% else %}0{% endif %}">
            <input type="hidden" name="payment" value="{% if purchase.payment  %}{{purchase.payment}}{% else %}0{% endif %}">
            <input type="hidden" name="total_amount" value="{% if purchase.total_amount  %}{{purchase.total_amount}}{% else %}0{% endif %}">
            <div class="card rounded-0 mb-3">
                <div class="card-header">
                    <div class="card-title py-1">تفاصيل الزبون</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        {% if purchase.code %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="" class="control-label">رقم الفاتورة</label>
                                <div class="h5"><b>{{purchase.code}}</b></div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="client" class="control-label">الإسم واللقب</label>
                                <select id="client" class="form-control" name="client">
                                    <option value="{{purchase.client.id}}" disabled selected>{{purchase.client}}</option>
                                    {% for i in clients %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded-0 mb-3">
                <div class="card-header">
                    <div class="card-title py-1">السّلع</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row align-items-end">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="products" class="control-label">نوع السّلعة</label>
                                <select id="products" class="form-control form-control-sm rounded-0">
                                    <option value="" disabled selected></option>
                                    {% for product in products %}
                                    <option value="{{product.pk}}" data-price = "{{product.price|floatformat}}">{{product.product_type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-sm rounded-0 bg-gradient bg-primary" type="button" id="add_product"><i class="fa fa-plus"></i> زيادة سّلعة</button>
                            </div>
                        </div>
                        <div class="clear-fix mt-2"></div>
                        <div class="table-responsive">
                        <table class="table table-bordered" id="product_list">
                            <colgroup>
                                <col width="5%">
                                <col width="40%">
                                <col width="20%">
                                <col width="15%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="p-1 text-center"></th>
                                    <th class="p-1 text-center">نوع السّلعة</th>
                                    <th class="p-1 text-center">السعر/كغ</th>
                                    <th class="p-1 text-center">الوزن (كغ)</th>
                                    <th class="p-1 text-center">مجموع</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pitem in pitems %}
                                <tr>
                                    <td class="px-2 py-1 align-middle text-center">
                                        <input type="hidden" name="product_id[]" value="{{pitem.product_type.id}}">
                                        
                                        <button class="btn btn-outline-danger btn-sm rounded-0 rem-product" type="button"><i class="fa fa-times"></i></button>
                                    </td>
                                    <td class="px-2 py-1 align-middle product_type">{{pitem.product_type.product_type}}</td>
                                 
                                    <td class="px-2 py-1 align-middle">
                                        <input type="number" min="1"  step="any" class="form-control form-control-sm rounded-0 text-center" name="product_price[]" value="{{pitem.price|floatformat}}" required>
                                    </td>
                                    <td class="px-2 py-1 align-middle">
                                        <input type="number" min="1"  step="any" class="form-control form-control-sm rounded-0 text-center" name="product_weight[]" value="{{pitem.weight|floatformat}}" required>
                                    </td>
                                    <td class="px-2 py-1 align-middle product_total text-end">{{pitem.total_amount|floatformat}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center" colspan="4">مجموع</th>
                                    <th class="text-end sub-total-product">0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="card rounded-0 mb-3">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-end align-items-center">
                        <div class="col-auto">
                            <h4 class="fw-bolder text-muted pe-2">المبلغ الإجمالي:</h4>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                            <h4 class="fw-bolder pe-2 gtotal">{% if purchase.total_amount %}{{purchase.total_amount|floatformat}}{% else %}0.00{% endif %}</h4>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-end align-items-center">
                        <div class="col-auto">
                            <h4 class="fw-bolder text-muted pe-2">المبلغ المدفوع:</h4>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                            <input type="number" step="any" class="form-control form-control-lg rounded-0 text-end" id="amount_paid" name="amount_paid" value="{% if purchase.amount_paid %}{{purchase.amount_paid|floatformat}}{% else %}0{% endif %}" required>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-end align-items-center">
                        <div class="col-auto">
                            <h4 class="fw-bolder text-muted pe-2">الباقي:</h4>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                            <h4 class="fw-bolder pe-2 " id="rest">{% if purchase.rest %}{{purchase.rest|floatformat}}{% else %}0.00{% endif %}</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer py-1 text-center">
                    <button class="btn btn-primary btn-sm rounded-0" type="button" id="pay_later">ادفع لاحقا</button>
                    <button class="btn btn-success btn-sm rounded-0" id="purchase-submit-btn" form="purchase-form"><i class="fa fa-save"></i>ادفع الآن</button>
                </div>
            </div>
        </form>
    </div>
</section>
<noscript id="product-clone">
    <tr>
        <td class="px-2 py-1 align-middle text-center">
            <input type="hidden" name="product_id[]" value="">
            <button class="btn btn-outline-danger btn-sm rounded-0 rem-product" type="button"><i class="fa fa-times"></i></button>
        </td>
        <td class="px-2 py-1 align-middle product_type"></td>
       
        <td class="px-2 py-1 align-middle">
            <input type="number" min="1"  step="any" data-price="{{product.price}}" class="form-control form-control-sm rounded-0 text-center" name="product_price[]" value="{{pitem.price|floatformat}}" required>
        </td>
        <td class="px-2 py-1 align-middle">
            <input type="number" step="any" min="1" value="1" class="form-control form-control-sm rounded-0 text-center" name="product_weight[]" required>
        </td>
        <td class="px-2 py-1 align-middle product_total text-end">0.00</td>
    </tr>
</noscript>
 {% endblock pageContent %} {% block ScriptBlock %}
<script>
    function calc_total() {
        
        var sub_product = 0
        var gtotal = 0
        $('#product_list tbody tr').each(function() {
            var price = $(this).find('[name="product_price[]"]').val()
            var weight = $(this).find('[name="product_weight[]"]').val()
            weight = weight > 0 ? weight : 0;
            price = price > 0 ? price : 0;
            sub_product += parseFloat(parseFloat(weight) * parseFloat(price))
            gtotal += parseFloat(parseFloat(weight) * parseFloat(price))
            $(this).find('.product_total').text(parseFloat(parseFloat(weight) * parseFloat(price)).toLocaleString('en-US'))
        })
        $('.sub-total-product').text(parseFloat(sub_product).toLocaleString('en-US'))
       
        $('[name="total_amount"]').val(gtotal)
        $('.gtotal').text(parseFloat(gtotal).toLocaleString('en-US'))
        $
    }
    $(function() {
        calc_total()
        $('#client').select2({
            placeholder: "الرجاء تحديد الزبون هنا",
            width: "100%",
            selectionCssClass: "form-control form-control-sm rounded-0"
        })
        $('#products').select2({
            placeholder: "الرجاء تحديد السّلع هنا",
            width: "100%",
            selectionCssClass: "form-control form-control-sm rounded-0"
        })
        $('#amount_paid').on('rest input', function() {
            var paid= $(this).val()
            var total = $('[name="total_amount"]').val()
            paid = paid > 0 ? paid : 0;
            total = total > 0 ? total : 0;
            rest = parseFloat(total) - parseFloat(paid)
            $('#rest').text(parseFloat(rest).toLocaleString('en-US'))

        })
        $('#pay_later').click(function() {
            $('#amount_paid').val(0).attr('required', false)
            $('#purchase-form').submit()
        })
        $('#purchase-submit-btn').click(function() {
            $('#tendered_amount').attr('required', true)
        })
        $('#product_list tbody').find('[name="product_weight[]"]').on('input rest', function() {
            calc_total()
        })
        $('#product_list tbody').find('.rem-product').click(function() {
            if (confirm("Are you sure to remove this item?") == true) {
                $(this).closest('tr').remove()
                calc_total()
            }
        })
        
        $('#add_product').click(function() {
            var pid = $('#products').val()
            if (pid < '1') {
                return false
            }
            var price = $('#products option[value="' + pid + '"]').attr('data-price')
            var product_type = $('#products option[value="' + pid + '"]').text()
            var tr = $($('noscript#product-clone').html()).clone()
            tr.find('.product_type').text(product_type)
            tr.find('.product_price').text(parseFloat(price).toLocaleString('en-US'))
            tr.find('.product_total').text(parseFloat(price).toLocaleString('en-US'))
            tr.find('[name="product_id[]"]').val(pid)
            tr.find('[name="product_price[]"]').val(price)
            $('#product_list tbody').append(tr) 
            calc_total()
            $('#products').val('').trigger('rest')
            tr.find('[name="product_price[]"]').on('input rest', function() {
                calc_total()
            })
            tr.find('[name="product_weight[]"]').on('input rest', function() {
                calc_total()
            })
            tr.find('.rem-product').click(function() {
                if (confirm("هل أنت متأكد أنك تريد حذف هذه السّلعة؟") == true) {
                    tr.remove()
                    calc_total()
                }
            })
        })

        
        $('#purchase-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            if ($('#amount_paid').prop('required') == true) {
                var rest = $('#rest').text()
                rest = rest.replace(/,/gi, '')
                rest = !isNaN(rest) ? rest : 0
                if (rest < 0) {
                    alert("Le montant payé n'est pas valide.")
                    return false
                }
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-purchase' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.replace('{% url "view-purchase" %}/' + resp.id)
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>
{% endblock ScriptBlock %}