{% extends 'base.html' %} {% load static %} {% load humanize %} {% block pageContent %} {% include "includes/TopNavigation.html" %}
<section class="py-4">
   <div class="container">
      <h3 class="fw-bolder text-center">قائمة المصاريف</h3>
      <center>
         <hr class="bg-primary opacity-100" style="height:3px" width="5%">
      </center>
      <div class="card rounded-0 shadow">
         <div class="card-body">

            <div class="container-fluid">
               <div class="text-end mb-3">
                  <button class="btn btn-sm btn-primary rounded-0 bg-gradient-primary" type="button" data-toggle="modal"
                     data-target="#modal_add_cost"><i class="fa fa-plus"></i> زيادة</button>
               </div>
               {% if cost %}
               <div class="table-responsive">
                  <table class="table table-bordered table-striped" id="table_id">
                     <colgroup>
                        <col width="5%">
                        <col width="30%%">
                        <col width="30%">
                        <col width="30%">
                        <col width="15%">
                     </colgroup>
                     <thead>
                        <tr>
                           <th class="text-center">#</th>
                           <th class="text-center">تاريخ الإضافة</th>
                           <th class="text-center">نوع المصروف</th>
                           <th class="text-center">المبلغ</th>
                           <th class="text-center">إجراءات</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in cost %}
                        <tr>
                           <td class="text-center">{{ forloop.counter }}</td>
                           <td>{{i.date_added|date:'M-d-Y H:i'}}</td>
                           <td>{{i.description}}</td>
                           <td>{{i.amount|floatformat|intcomma}}</td>
                           <td class="text-center">
                              <div class="dropdown">
                                 <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    إجراءات
                                 </button>
                                 <ul class="dropdown-menu">
                                    <li><a class="dropdown-item edit-data" href="{% url 'edit_cost' i.id %}"><i
                                             class="fa fa-edit text-primary"></i> تبديل</a></li>
                                    <li><a class="dropdown-item delete-data" href="{% url 'delete_cost' i.id %}"><i
                                             class="fa fa-trash text-danger"></i> حذف</a></li>
                                 </ul>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               {% else %}
               <h3>لا توجد مصاريف متاحة</h3>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</section>
<div class="modal fade" id="modal_add_cost" tabindex="-1" role="dialog" aria-hidden="true"
   style="overflow-y: auto !important">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <!-- Header -->
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">إضافة مصروف</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>
         <!-- Body -->
         <div class="modal-body">
            <form method="POST" action="{% url 'add_cost' %}" enctype="multipart/form-data">
               {%csrf_token%}
               <div class="form-group">
                  <label>نوع المصروف</label>
                  <input type="text" class="form-control" name="description" required>
               </div>
               <div class="form-group">
                  <label>المبلغ</label>
                  <input type="number" class="form-control" name="amount" required>
               </div>
              
               <!--Footer-->
               <div class="modal-footer">
                  <button class="btn btn-primary" type="submit">حفظ</button>
                  <button class="btn btn-outline-danger" data-dismiss="modal" type="reset">إلغاء</button>
               </div>

            </form>
         </div>
      </div>
   </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
   $(function () {
      $('#table_id').find('td, th').addClass('px-2 py-1 align-middle')
      $('#table_id').DataTable({
         columnDefs: [{
            orderable: false,
            targets: [4]
         }],
         lengthMenu: [
            [25, 50, 100, -1],
            [25, 50, 100, "All"]
         ]
      })
   })
</script>
{% endblock ScriptBlock %}